@import '../_config.scss';
@import '../_mixins.scss';

.SearchBox {
  position: relative;
}

.SearchBox-input {
  display: block;
  width: 100%;
  padding: 1rem;
  padding-right: 4rem;
  font-family: $font-family;
  color: #38495b;
  background-color: #fdfdfd;
  border: 0;
  border-radius: 3px;
  outline: 0;
  appearance: none;
  line-height: normal;
  font-size: rem(16px);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);

  transition: 200ms border, background, box-shadow, color ease-in-out;
  will-change: border, background, box-shadow, color;

  &::placeholder {
    color: $color-gray-lighter;
  }

  &:focus,
  &:hover {
    background-color: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.6);
  }

  @include from-medium {
    font-size: rem(18px);
  }
}

.SearchBox-icon {
  fill: $color-gray-lighter;
  transition: all 200ms ease-in-out;

  .SearchBox:hover & {
    fill: $color-primary;
  }
}

.SearchBox-submitButton {
  position: absolute;
  right: 1rem;
  top: calc(50% - 16px);

  display: inline-block;
  width: 32px;
  height: 32px;

  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
