@import '../_config.scss';
@import '../_mixins.scss';

.SearchBox {
  position: relative;
}

.SearchBox-input {
  display: block;
  width: 100%;
  font-family: $font-family;
  font-size: 14px;
  color: #38495b;
  background-color: #fdfdfd;
  border: 0;
  border-radius: 3px;
  outline: 0;
  appearance: none;
  transition: 200ms border, background, box-shadow, color ease-in-out;
  will-change: border, background, color;
  padding: 1rem;
  padding-right: 4rem;
  line-height: normal;
  font-size: rem(16px);

  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;

  &::placeholder {
    color: $color-gray-lighter;
  }

  &:focus,
  &:hover {
    background-color: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.6);
  }

  @include from-medium {
    font-size: rem(18px);
  }
}

.SearchBox-icon {
  position: absolute;
  right: 1rem;
  top: calc(50% - 16px);
  fill: $color-gray-lighter;

  transition: all 200ms ease-in-out;

  .SearchBox-input:hover ~ & {
    fill: $color-gray;
  }
}
