$gallery-gap: 1rem;

.Gallery {
  margin: auto;
  padding: 0;
  column-gap: $gallery-gap;
}

.Gallery-item {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 $gallery-gap;
  break-inside: avoid-column;
}

@media only screen and (min-width: 460px) {
  .Gallery {
    column-count: 2;
  }
}

@media only screen and (min-width: 768px) {
  .Gallery {
    column-count: 3;
  }
}
